.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 10px rgba(173, 181, 189, 0.3), inset -1px -1px 7px rgba(173, 181, 189, 0.3);
}

.carousel-indicators button.active {
  box-shadow: 0 0 5px rgba(108, 117, 125, 0.3);
}
